@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cinzel:wght@600;700&family=Indie+Flower&family=Otomanopee+One&family=Permanent+Marker&family=Shadows+Into+Light&family=Yomogi&display=swap');
/*Global styles*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Permanent Marker', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --body-font2: 'Amatic SC', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #b41f3a;
    --body-font-color: #515151;
}

html{
    
    font-family: var(--body-font);
    font-size: 11px;
    color: var(--body-font-color);
    scroll-behavior: smooth;

}
a{
    text-decoration: none;

}
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0,0,0,.9) ;

  
}


section{
    padding: 5rem 0 0 0;
    overflow: hidden;
}

img{
    width: 100%;
    max-width: 100%;
}


.navContainer{
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}
.nav-bar{
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 200px;
    height: 180px;
    cursor: pointer;
    opacity: 0;
    animation: Myspin .5s forwards;
    animation-delay: .5s;
}


.logo img{
    height: 100%;
   padding: 2rem;  
}

.nav-list{
    list-style: none;
    top: 0;
    left: 0;
    background-color: transparent;
    padding: 0;
    display: flex;
    flex-direction: row;
    z-index: 1250;
    
}
.nav-bar::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}


.nav-item{
    margin: 0 2.4rem;
    border: none;
}

.nav-item:last-child{
    margin-right: 0;
}
.nav-link{
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color .5s;
}

.nav-link:hover{
    color: var(--secondary-font-color) ;
    
}

.active{
    position: relative;
    color: var(--secondary-font-color);
}

.active::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--secondary-font-color);
    left: 0;
    bottom: -3px;
}

.pageHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4rem;
}
.btns{
    box-sizing: border-box;
    border:3px solid var(--secondary-font-color);
    border-radius: .4rem;
    display: flex;
    flex-direction:row;
    justify-content: center;
}
.btn{
    flex:1;
    display: block;
    white-space: nowrap;
    cursor: pointer;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.br{
   border-right: 1px solid #fff; 
}
.cta-btn{
    font-size: 1.5rem;
    background-color: #fff;
    padding: .9rem 1.8rem;
    color: var(--body-font-color);
    transition: background-color .5s;
}

.cta-btn:hover,
.cta-btn:focus{
    
    color:#fff;
    background-color: var(--secondary-font-color);
}
.bg{
    font-size: 1.5rem;
    background-color: var(--secondary-font-color);
    padding: .9rem 1.8rem;
    color: #fff;
    /* border-left: 1px solid var(--secondary-font-color); */
    
   
    transition: background-color .5s;
}

.bg:hover,
.bg:focus{
    color:var(--body-font-color);
    background-color: #fff;
}

@keyframes Myspin {
    0%{
        transform: translateX(-100px);
    }
    
    
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.affectationContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}